<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Juego: Atrapa el topo</title>
    <link rel="stylesheet" href="/static/css/JuegoStyle.css">

</head>

<body>
    <a href="javascript:history.back()"><img src="/static/img/regresar.png" height="50" width="70" alt="Botón"></a>

    <br><br><br><br>

    <div class="container">
        <div class="left">

            <div>
                <div>
                    <h1>¡ATRAPA EL TOPO!</h1>
                    <img src="/static/img/topo1.png" height="80" width="90" alt="Botón"></a>
                    <h2 id="puntaje">0</h2>
                    <img src="/static/img/reloj.png" height="80" width="90" alt="Botón"></a>
                    <h2 id="tiempo">20</h2>
                </div>
            </div>

        </div>

        <div class="right">

            <div class="cuadricula">
                <div class="cuadro" id="1"></div>
                <div class="cuadro" id="2"></div>
                <div class="cuadro" id="3"></div>
                <div class="cuadro" id="4"></div>
                <div class="cuadro" id="5"></div>
                <div class="cuadro" id="6"></div>
                <div class="cuadro" id="7"></div>
                <div class="cuadro" id="8"></div>
                <div class="cuadro" id="9"></div>
                <div class="cuadro" id="10"></div>
                <div class="cuadro" id="11"></div>
                <div class="cuadro" id="12"></div>
                <div class="cuadro" id="13"></div>
                <div class="cuadro" id="14"></div>
                <div class="cuadro" id="15"></div>
                <div class="cuadro" id="16"></div>
                <br>
            </div>

        </div>
    </div>

    <center><button onClick="window.location.reload();" class="btn"></button></center>
    <br>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="/static/js/JuegoScript.js" charset="utf-8 "></script>

</html>